// variables
$padding-zero: 0;
$margin-zero: 0;
$search-icon-color: #03B3AF;
$live-chat-bgcolor: #FF3150;
$live-chat-color: lightgray;

// main style

* {
    transition: 0.3s;
}

body,html {
    padding: $padding-zero;
    margin: $margin-zero;
    overflow-x: hidden;
}

body {
    padding-top: 51px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


// navigation section

a {
    color: #808F99;
}

a:hover {
    color: $search-icon-color;
}


.active-link {
    color: $search-icon-color;
}


.fa-search, .stroke {
    color: #03B3AF;
}

.live-chat {
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 6px;
}

.fa-search:hover,
.stroke:hover {
  color: #03b3af;
}

.nav-item {
    .live-chat {
        color: $live-chat-color;
        background-color: $live-chat-bgcolor;
    }
}

// main section //
// upper-section below the navigation bar //

.half-vp {
    width: 100%;
    min-height: 70vh;
    background-color: #19283F;
}

.half-vp {
    h1,span {
        color: #C2C5CA;
        font-weight: 300;
    }
    span {
        color: #03b3af;
    }

}

.get-started {
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 6px;
    color: $live-chat-color;
    background-color: $live-chat-bgcolor;
}


// good at section
.blue-border {
    width: 5%;
    border-bottom: solid 2px #A0E9E7;
    margin: 0 auto;

}

.boxes {
    max-width: 200%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    .box-item {
        max-width: 400px;
        background-color: #33D1CC;
    }
    .box-item:hover {
        transform: translateY(-10px);

    }
    .item2 {
        background-color: #FFE13E;
    }
    .fa-server {
        color: white;
        font-size: 4em;
    }
    .dot-com {
        color: black;
        font-size: 4em;
        font-weight: 700;
    }
}

// features
.features {
    overflow-x: hidden;
    width: 100%;
    min-height: 80vh;
    background-color: #EFF7FA;

    .one, .two, .three {
        overflow-x: hidden;
    }

    .back-number {
        color: white;
        position: absolute;
        font-size: 6em;
        font-weight: 800;

    }
    .fa-headphones {
        position: absolute;
        font-size: 2em;
        color: #33D1CC;
        z-index: 11;
    }
    .fa-cloud, .fa-database {
        @extend .fa-headphones;
    }
}


// testimonials section
.testimonials {
    overflow-x: hidden;
    min-height: 60vh;
    .card {
        background-color: #F7FBFC;
        box-shadow: 2px 2px 10px 2px lightgray;
    }
    .card:hover {
        box-shadow: 0px 0px 10px 2px lightgray;
        transform: translateY(-10px);
    }
    .card-text,
    .name {
        font-weight: 400px;
        font-size: 15px;
        line-height: 24px;
        padding: 10px;
    }
    .card-text::before{
        content:open-quote;
    }
    .card-text::after {
        content: close-quote;
    }
    .name {
        color:#33D1CC;
    }
    .image {
        border: solid 2px lightgray;
        width: 70px;
        height:70px;
        position: absolute;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-position: 50% 50%;
        background-size: cover;
        z-index: 11;
        right: 0;
        margin-top: -33px;
        margin-right: 10px;
    }

}

.subscribe {
    background-color: #F7FBFC;

    form {
        width: 60%;
        margin: 0 auto;
    }
}

footer {
    background-color: #19283F;
    width: 100%;
    min-height: 50vh;
    color: lightgray;

    ion-icon {
        font-size: 1.7em;
        padding-left: 10px;
    }
    ion-icon[name="logo-facebook"]{
        color:#347CD2;

    }
    ion-icon[name="logo-instagram"]{
        color:#FF58AC;

    }
    ion-icon[name="logo-twitter"]{
        color:#1EC4FF;

    }
    ion-icon[name="logo-googleplus"]{
        color:#FF4032;

    }
    span, .name{
        color: #33D1CC;
    }

}

// responsive designs
@media screen and (max-width: 720px) {
    .boxes {
        flex-direction: column;
    }
}
