* {
  transition: 0.3s;
}

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  padding-top: 51px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #808f99;
}

a:hover {
  color: #03b3af;
}

.active-link {
  color: #03b3af;
}

.fa-search,
.stroke {
  color: #03b3af;
}

.live-chat {
  border-radius: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 6px;
}

.fa-search:hover,
.stroke:hover {
  color: #03b3af;
}

.nav-item .live-chat {
  color: lightgray;
  background-color: #ff3150;
}

.half-vp {
  width: 100%;
  min-height: 70vh;
  background-color: #19283f;
}

.half-vp h1,
.half-vp span {
  color: #c2c5ca;
  font-weight: 300;
}
.half-vp span {
  color: #03b3af;
}

.get-started {
  border-radius: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 6px;
  color: lightgray;
  background-color: #ff3150;
}

.blue-border {
  width: 10%;
  border-bottom: solid 2px #a0e9e7;
  margin: 0 auto;
}

.boxes {
  max-width: 200%;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}
.boxes .box-item {
  max-width: 400px;
  background-color: #33d1cc;
}
.boxes .box-item:hover {
  transform: translateY(-10px);
}
.boxes .item2 {
  background-color: #ffe13e;
}
.boxes .fa-server {
  color: white;
  font-size: 4em;
}
.boxes .dot-com {
  color: black;
  font-size: 4em;
  font-weight: 700;
}

.features {
  overflow-x: hidden;
  width: 100%;
  min-height: 80vh;
  background-color: #eff7fa;
}
.features .one,
.features .two,
.features .three {
  overflow-x: hidden;
}
.features .back-number {
  color: white;
  position: absolute;
  font-size: 6em;
  font-weight: 800;
}
.features .fa-headphones,
.features .fa-cloud,
.features .fa-database {
  position: absolute;
  font-size: 2em;
  color: #33d1cc;
  z-index: 11;
}
.testimonials {
  overflow-x: hidden;
  min-height: 60vh;
}
.testimonials .card {
  background-color: #f7fbfc;
  box-shadow: 2px 2px 10px 2px lightgray;
}
.testimonials .card:hover {
  box-shadow: 0px 0px 10px 2px lightgray;
  transform: translateY(-10px);
}
.testimonials .card-text,
.testimonials .name {
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  padding: 10px;
}
.testimonials .card-text::before {
  content: open-quote;
}
.testimonials .card-text::after {
  content: close-quote;
}
.testimonials .name {
  color: #33d1cc;
}
.testimonials .image {
  border: solid 2px lightgray;
  width: 70px;
  height: 70px;
  position: absolute;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 11;
  right: 0;
  margin-top: -33px;
  margin-right: 10px;
}

.subscribe {
  background-color: #f7fbfc;
}
.subscribe form {
  min-width: 60%;
  margin: 0 auto;
}

footer {
  background-color: #19283f;
  width: 100%;
  min-height: 50vh;
  color: lightgray;
}
footer ion-icon {
  font-size: 1.7em;
  padding-left: 10px;
}
footer ion-icon[name="logo-facebook"] {
  color: #347cd2;
}
footer ion-icon[name="logo-instagram"] {
  color: #ff58ac;
}
footer ion-icon[name="logo-twitter"] {
  color: #1ec4ff;
}
footer ion-icon[name="logo-googleplus"] {
  color: #ff4032;
}
footer span,
footer .name {
  color: #33d1cc;
}

@media screen and (max-width: 920px) {
  .stroke,
  .live-chat {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .boxes {
    flex-direction: column;
  }
  .navbar-nav {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
