body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    letter-spacing: -0.8px;
}

nav {
    background: white;
    .logo{
        color: #B586FF;
        padding-top: 10px;
    }
    .navbar-brand {
        a{
            color: black;
            font-size: 1.4em;
            font-weight: 600;
            letter-spacing: -0.5px;
        }
        a:hover {
            text-decoration: none;
        }

    }
    ion-icon {
        font-size: 1.4em;
    }
}

section.media-icons {
    .icons {
        min-height: 170px;
        min-width: 170px;
        color: white;
        border-radius: 25px;
        font-size: 4em;
        display: flex;
        flex-wrap: wrap;
        align-content: center;

    }
    .row{
        display: flex;
        flex-wrap: wrap;
        align-content: center;

    }

    .facebook {
        background-color: #0072EE;
        box-shadow: 2px 2px 25px 4px #ADD8FF;

    }
    .twitter {
        background-color: #00B3FF;
        box-shadow: 2px 2px 25px 4px #A4DDF9;

    }
    .pinterest {
        background: #FF414B;
        box-shadow: 2px 2px 25px 4px #FFC6CB;

    }
    .dribble {
        background: #FF3A80;
        box-shadow: 2px 2px 25px 4px #FFD0EB;

    }
    .instagram {
        background: #9248FF;
        box-shadow: 2px 2px 25px 4px #DECEFD;

    }


    .red-text{
        color: #FF1B2F;
    }

}
.text-secondary {
    opacity: 0.5;
}
.blue-text {
    color: #71DBBC;
}

.overview {
    button {
        background-color: #F1F5F8;
        color: grey;
        border-radius: 25px;
        border: none;
        padding-top:3px;
        padding-bottom: 3px;
    }

    .card {
        background-color: #F1F5F8;
        border-radius: 17px;
        border-color: #F1F5F8;
    }

    .twitter {
        color: #00B3FF;
    }

    .dribble {
        color: #FF3A80;
    }
    .facebook {
        color: #0072EE;
    }
    .pinterest {
        color: #FF414B;
    }

    .instagram {
        color: #9248FF;
    }
}
