body {
  color: white;
  margin-right: 20px;
  background-size: cover;
}

nav {
  position: absolute;
  z-index: 1234567;
  margin-top: 50px;
}
nav a {
  font-size: 0.8em;
}
nav a:hover {
  text-decoration: none;
}
nav i {
  font-size: 1.4em;
}

main .dot {
  position: relative;
  margin-top: 15px;
  background: #F23249;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
main .nav {
  position: relative;
  margin-left: 20%;
  margin-top: 10%;
}
main .nav li {
  letter-spacing: 4px;
  display: flex;
  flex-direction: row;
}
main .nav li a {
  color: white;
  font-size: 0.7em;
  text-transform: uppercase;
}
main .nav li a:hover {
  color: #EC2B44;
}
main .nav li .contact, main .nav li .hire, main .nav li .dot-2, main .nav li .dot-4, main .nav li .social, main .nav li .projects, main .nav li .dot-1, main .nav li .dot-5 {
  font-size: 0.8em;
  filter: blur(1px);
  position: relative;
}
main .nav li .dot-1, main .nav li .dot-5 {
  width: 4px;
  height: 4px;
}
main .nav li .social, main .nav li .projects {
  font-size: 1.05em;
}
main .nav li .dot-2, main .nav li .dot-4 {
  width: 6px;
  height: 6px;
}
main .nav li .about {
  font-size: 1.7em;
}
main .nav li .about-me {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 12455432332;
  margin-left: -30px;
  padding-left: 10px;
  padding-right: 10px;
}
main .nav li .dot-3 {
  width: 12px;
  height: 12px;
  margin-top: 25px;
}
main .nav li .projects:hover, main .nav li .hire:hover, main .nav li .contact:hover, main .nav li .dot-1:hover, main .nav li .dot-2:hover, main .nav li .dot-4:hover, main .nav li .dot-5:hover, main .nav li .social:hover {
  filter: blur(0px);
}
main .line-across, main .line-across-2 {
  position: absolute;
  width: 13%;
  margin-top: 270px;
  z-index: -1;
  border-top: 0.5px solid #919191;
  filter: blur(0.4px);
}
main .line-across-2 {
  right: 0;
  width: 63%;
}
main .gaming {
  font-family: "Anton", sans-serif;
}
main .gaming .gaming-h1 {
  color: #F23249;
}
main .gaming .text-uppercase {
  font-size: 5em;
  letter-spacing: 3px;
}
main .gaming .exclamation {
  font-size: 2.5em;
  position: absolute;
  margin-top: -220px;
  margin-left: 160px;
  color: #F23249;
}
main .details {
  position: absolute;
  margin-left: 300px;
  z-index: 1;
  width: 500px;
  font-family: "Open Sans", sans-serif;
}
main .line {
  position: absolute;
  margin-left: 400px;
  margin-top: 100px;
  font-size: 0.5em;
}
main .line .real-line, main .line .colored-line {
  height: 150px;
  margin-left: 5px;
  border-left: 0.05px solid lightgrey;
}
main .line .colored-line {
  border-color: #F23249;
}
main .top {
  position: absolute;
  margin-top: -40px;
}
main .arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  font-size: 1.6em;
  color: #F23249;
  position: absolute;
  right: 0;
  margin-top: 252px;
  margin-right: 200px;
}
main .footer {
  font-family: "Open Sans", sans-serif;
}
main .footer .nav {
  position: relative;
  z-index: 2345;
  margin-top: 0;
  margin-right: 0;
}
main .footer .discover {
  font-weight: 600;
  font-size: 0.7em;
}
main .footer .border-top {
  width: 10%;
  margin-left: 70px;
}

.wrapper-menu {
  width: 7%;
  height: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 70%;
  height: 1px;
}

.line-menu.half {
  width: 40%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
  width: 70%;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-start;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

/*# sourceMappingURL=style.css.map */
